<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    a {
      color: blue;
    }
  </style>
</head>
<body>

  <div class="w3-brown w3-padding" id="vue-app">
    <div class="w3-row w3-center-gray">

        <ul>
          <input v-model="newData.userName">
        </ul>
        <ul>
          <input v-model="newData.Password">
        </ul>
        <p><a href="http://localhost/Psti/webchat/pageRegister.html">Regisrter</a></p>
        <button class="w3-center" @click="addlogin">Login</button>
        <p><a href="http://localhost/Psti/webchat/pageResetPasswordPage.html">Forgot Username/Password?</a></p>
    </div>
    <div class="w3-white w3-margin w3-padding" >
      <ul>
        <li v-for="login in addlogin">
          {{login.userName}}
        </li>
      </ul>
    </div>
  </div>
  <script src="modelLogin.js" charset="utf-8"></script>
</body>
</html>
