<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="w3-brown w3-padding" id="vue-app">
    <div class="w3-row w3-center-gray">
      <div class="w3-col s6">
        <ul>
          <p>Create an account</p>
        </ul>
        <ul>
          <input v-model="newData.userName">
        </ul>
        <ul>
          <input v-model="newData.Email">
        </ul>
        <ul>
          <input v-model="newData.Password">
        </ul>
        <ul>
          <input v-model="newData.ConfirmPassword">
        </ul>
      </div>
      <div class="w3-col s6">
        <p>Select your avatar:</p>
        <button class="w3-center" name="Choose File">Choose File</button>
        <p>No File Chosen</p>
        <button class="w3-center" @click="addRegister">Register</button>
      </div>
    </div>
    <div class="w3-white w3-margin w3-padding" >
      <ul>
        <li v-for="Register in addRegister">
          {{Register.userName}}
        </li>
      </ul>
    </div>
  </div>
  <script src="modelRegister.js" charset="utf-8"></script>
</body>
</html>
